.auth-form-container {
    width: 300px;
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
}
.auth-form-container.login {
    margin-top: -165px;
}
.auth-form-container.signup {
    margin-top: -230px;
}

@media (max-width: 300px) {
    .auth-form-container {
        width: 100%;
    }
}
